h1{
    text-align: center;
}
.GroBtn{
    margin-left: 400px;
}
table{
    background-color: greenyellow;
    border: 4px solid black;
}
.hemu{
    text-align: center;
} 
.kallu{
    text-align: center;
} 